@import url("https://cdn.jsdelivr.net/npm/pretendard@latest/dist/web/static/pretendard.css");
@config "../tailwind.config.ts";
@import "tailwindcss";

:root {
  --color-primary: #003458;
  --color-secondary: #000080;
  --color-accent: #2c7fb8;

  --color-success: #34a853;
  --color-warning: #fbbc05;
  --color-error: #ea4335;
  --color-info: #0073ff;

  --color-black: #000000;
  --color-white: #ffffff;

  --color-gray-900: #111111;
  --color-gray-800: #1c1b1f;
  --color-gray-700: #464545;
  --color-gray-600: #686868;
  --color-gray-500: #808080;
  --color-gray-400: #acacac;
  --color-gray-300: #d3d3d3;
  --color-gray-200: #e8e8e8;
  --color-gray-100: #f4f4f4;
  --color-gray-50: #f8f8f8;

  --overlay-light: rgba(0, 0, 0, 0.1);
  --overlay-medium: rgba(0, 0, 0, 0.5);
  --overlay-heavy: rgba(0, 0, 0, 0.7);

  --bg-primary: #ffffff;
  --bg-secondary: #f8f8f8;
  --bg-tertiary: #f4f4f4;

  --text-primary: #000000;
  --text-secondary: #686868;
  --text-tertiary: #acacac;
  --text-inverse: #ffffff;

  --border-light: #e8e8e8;
  --border-medium: #d3d3d3;
  --border-dark: #acacac;
}
